/*!
 * =====================================================
 * 自定义样式
 * 覆盖部分MSUI样式
 * 加载在sm.css之后
 *
 * 参考：http://m.sui.taobao.org/components/#tabs
 * =====================================================
 */

.bar{background-color: #79c34b;}
.bar a,.bar a span{color:#fff;}
.title {color:#fff;}
.buttons-tab .button.active { color: #000; border-color: #79c34b;  }

.content-block {margin:0;padding:0;}

/* 日期 */
div.date{background: #fff;text-align: center;}
div.date input{padding:0.3rem;line-height: inherit;background:none;border: 0;width:6rem;text-align: center;color:#aaa;letter-spacing:0.08rem}
div.date i{color: #79c34b;}
div.date i.max{color:#aaa;}

/* 图表 */
.echart{background:#79c34b;height: 10rem;}
.echart span{color: #fff;font-size: 0.8rem;margin-top: 0.5rem}
.echart span.time{margin-left: 0.5rem;float: left;}
.echart span.date{margin-right: 0.5rem;float: right;}
.echart-buttom{background:#fff;height: 2.5rem;text-align: center;}
.echart-buttom h5{margin: 0.25rem auto 0.05rem auto;font-weight: 100;color:#AAA;}
.echart-buttom p{margin: 0rem;font-weight: 100;font-size: 0.6rem;}

/* 睡眠分析 */
.gradient{width:86%;height:0.5rem;margin-top: 1rem;position: relative;left: 43%;margin-left: -34%;color:#fff;
border-radius: 0.5rem; -moz-border-radius: 0.5rem;  -webkit-border-radius: 0.5rem;
background:-webkit-gradient(linear,0% 0%, 100% 0%, from(#99FF00), to(#CC3366), color-stop(0.5,#9966FF));}
.gradient label{float: left;margin-top: -0.2rem;font-size:0.5rem}

.sleep-analysis{height: 2.5rem;font-size: 0.6rem;text-align: left;}
.sleep-analysis .col-33 div {color:#999;font-weight: 100;margin-top: 0.5rem;}
.sleep-analysis .col-33 div i{margin-left: 20%;}
.sleep-analysis .col-33 div label,.sleep-analysis .col-33 div span{margin-left: 5%;}
.sleep-analysis .col-33 p{margin:0;margin-left: 25%;}
.sleep-analysis .col-33:nth-child(1) i,.sleep-analysis .col-33:nth-child(1) label{color: #99FF00}
.sleep-analysis .col-33:nth-child(2) i,.sleep-analysis .col-33:nth-child(2) label{color: #9966FF}
.sleep-analysis .col-33:nth-child(3) i,.sleep-analysis .col-33:nth-child(3) label{color: #CC3366}